@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

* {
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
}

main {
  max-width: 50rem;
  width: 39.7rem;
  height: 29.5rem;
  margin: auto;
  overflow: hidden;
  border-radius: .625rem;
  box-shadow: 0 .3125rem .625rem .625rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

section {
  padding: 2.1875rem;
}

h1,
h2,
p,
ul {
  margin-left: .3rem;
}

h2 {
  font-size: 1.09rem;
}

p {
  font-size: 1.0813rem;
}

/* section #1 */

.header {
  padding-top: .625rem;
  margin-bottom: .3rem;
}

.header__title {
  margin-top: 1.88rem;
  margin-bottom: 1.55rem;
  font-size: 1.46rem;
  color: hsl(179, 62%, 43%);
}

.header__subtitle {
  margin-bottom: .7rem;
  color: hsl(71, 73%, 54%);
}

.header__text {
  margin-bottom: 0;
  margin-top: .3125rem;
  line-height: 1.6187rem;
  font-size: .98rem;
  color: #999;
}

.row {
  display: flex;
  margin-top: .125rem;
}

.row section {
  flex: 1;
}

/* Section #2 */

.subscription {
  background-color: hsl(179, 62%, 43%);
  color: #fff;
}

.title--white {
  margin-top: .37rem;
}

.subscription__price {
  display: flex;
  align-items: center;
  width: 93%;
  margin-top: 1.1rem;
word-spacing: -.1rem;
  margin-bottom: 0;
  color: hsl(179, 43%, 75%);
}

.subscription__price span {
  font-size: 2.1rem;
  margin-right: .7rem;
  color: #fff;
}

.subscription__discount {
  margin-top: .35rem;
  margin-bottom: 1.9rem;
  font-size: .98rem;
}

.subscription__button {
  display: block;
  width: 96%;
  padding: .9812rem 0;
  margin: 0 auto 0 auto;
  font-size: .99rem;
  font-weight: 700;
  background-color: hsl(71, 73%, 54%);
  color: #fff;
  border: none;
  border-radius: .3125rem;
  box-shadow: 0 .3125rem .625rem .625rem rgba(0, 0, 0, 0.05);
}

/* Section #3 */

.features {
  background-color: hsl(179, 47%, 52%);
  color: #fff;
}

.features__title {
  margin-bottom: 1rem;
}

.features__list {
  padding: 0;
  font-size: .86rem;
  line-height: 1.282rem;
  list-style-type: none;
  opacity: 0.7;
}

@media screen and (max-width: 44.5rem) {
  .features__list {
    line-height: 1.rem;
  }
}

@media screen and (max-width: 654px){
  main{
    height: auto;
  }

  .row {
    max-height: 39vh;
  }

  .features__list{
    line-height: 1.44rem;
  }

}

@media screen and (max-width: 37.625rem) {
  .features__list {
    line-height: 1.rem;
  }
}

@media screen and (max-width: 37.5rem) {
  .row {
    flex-direction: column;
    max-height: initial;
  }

  .subscription__button {
    width: 95%;
  }

  .features {
    max-height: 39vh;
  }
}

@media screen and (max-width: 23.9375rem) {
  h1,
  h2,
  p,
  ul {
    margin-left: 0;
  }

  .subscription__button {
    width: 100%;
  }
}

@media screen and (max-width: 23.4375rem) {
  main {
    min-width: 92vw;
  }

  section {
    padding: 1.5625rem;
  }

  .header {
    margin-bottom: .25rem;
  }

  .header__title {
    margin: 1.375rem 0 1.8125rem 0;
    font-size: 1.37rem;
  }

  .header__subtitle {
    margin-bottom: 1.1875rem;
    font-size: 1.0313rem;
    line-height: 1.3rem;
  }

  .title--white {
    margin-top: .1875rem;
  }

  .header__text {
    font-size: .9625rem;
    line-height: 1.75rem;
  }

  .features {
    max-height: 47vh;
  }

  .features__list {
    font-size: .9374rem;
    word-spacing: .0625rem;
    line-height: 1.375rem;
  }
}

@media screen and (max-width: 16.8125rem) {
  .features {
    max-height: 100vh;
  }
}
